keybinds {
    // Use Alt + modifier to enter modes
    unbind "Ctrl g" "Ctrl p" "Ctrl t" "Ctrl n" "Ctrl h" "Ctrl s" "Ctrl o" "Ctrl q" "Ctrl b"
    shared_except "locked" {
        bind "Alt g" { SwitchToMode "Locked"; }
    }
    shared_except "pane" "locked" {
        bind "Alt p" { SwitchToMode "Pane"; }
    }
    shared_except "tab" "locked" {
        bind "Alt t" { SwitchToMode "Tab"; }
    }
    shared_except "resize" "locked" {
        bind "Alt r" { SwitchToMode "Resize"; }
    }
    shared_except "move" "locked" {
        bind "Alt m" { SwitchToMode "Move"; }
    }
    shared_except "scroll" "locked" {
        bind "Alt s" { SwitchToMode "Scroll"; }
    }
    shared_except "session" "locked" {
        bind "Alt o" { SwitchToMode "Session"; }
    }
    shared_except "locked" {
        bind "Alt q" { Quit; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

theme "catppuccin-mocha" // or latte, frappe and macchiato

// Provide a command to execute when copying text. The text will be piped to
// the stdin of the program to perform the copy. This can be used with
// terminal emulators which do not support the OSC 52 ANSI control sequence
// that will be used by default if this option is not set.
// Examples:
//
// copy_command "xclip -selection clipboard" // x11
// copy_command "wl-copy"                    // wayland
// copy_command "pbcopy"                     // osx
copy_command "xclip -selection clipboard"

